body {
  margin: 0%;
  /*font-family: "Aboreto", cursive;*/
  font-family: "Silkscreen", cursive;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 2% 3%;
  grid-template-areas:
    "header"
    "picture";
}
.header {
  display: grid;
  place-items: center;
  grid-area: header;
  padding: 3%;
  background-color: blanchedalmond;
  color: #001432;
}
.pictureholder {
  grid-area: picture;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "noth img ing";
  width: 100%;
  height: 100%;
  place-items: center;
  position: relative;
  width: fit-content;
}
.overlay {
  position: absolute;
  bottom: 0%;
  left: auto;
  right: auto;
  background-color: #001432;
  overflow: hidden;
  width: 40%;
  height: 0;
  transition: 0.5s ease;
}
.questions {
  display: grid;
  place-content: center;
  grid-area: picture;
  padding-bottom: 5%;
}
.cashmone {
  display: grid;
  place-items: center;
  padding: 5%;
  grid-area: cashmone;
  background-color: blanchedalmond;
  color: #001432;
  margin-top: 5%;
}
.counter {
  grid-area: noth;
}
.counter2 {
  grid-area: noth;
  padding-top: 30%;
}

.img:hover + .overlay {
  height: 100%;
}
.overlay:hover {
  height: 100%;
}
.hint {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#img {
  width: 100%;
  height: auto;
  display: block;
  grid-area: img;
}
